        /* Estilos para el header */
        header {
            display: flex;
            justify-content: center;
            padding: 1rem;
            background-color: #333;
            color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .header-component-container {
            width: 100%;
            max-width: 800px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            margin: 0.5rem;
        }

        /*.header-component */
        #avatar {
            max-width: 200px;

            flex-grow: 0.8;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }

        #avatar>img {
            width: 100%;
            border-radius: 50%;
        }

        @media (max-width: 430px) {
            #avatar>img {
                padding: 2rem;
            }

            #call-actions {
                justify-content: center;
            }



        }




        #stats {
            max-width: 500px;

            flex-grow: 1.2;
            font-size: 1.2rem;
            margin: 0rem 1rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: flex-start
        }

        #stats>h3 {
            font-size: 2rem;
            margin: 0.5rem;
            text-align: center;
        }

        #stats>#call-actions {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            padding-bottom: 1rem;
        }

        #stats>#call-actions>button {
            background-color: #007bff;
            color: #fff;
            font-size: 1.2rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

        }

        #stats>#call-actions>button:hover {
            background-color: #0056b3;
        }

        table {
            width: 100%;
            margin: 0.5rem;
        }

        tr :nth-child(3)>p {

            display: flex;
            flex-direction: row-reverse;
        }