#projects {
    padding-top: 1rem;
    margin-top: 3rem;
    border-top: 0.3rem solid #fff;
    padding-bottom: 6rem;
}
#projects h2 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.category-buttons {
    text-align: center;
    padding: 1rem;
}

.category-button {
    background-color: #0366d6;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #0056b3;
}

.repo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo-container {
    background-color: #444;
    color: #fff;
    
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    border-width: 0 0.3rem 0.3rem 0.3rem;
    border-color: #333;
    border-style: solid;

}

@media (max-width: 850px) {
    .repo-container {
        width: 97.5%;
        
    }
}

.repo-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.repo-name {
   width: 100%;
   padding: 0 0.5rem;
    
}

.repo-description {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    height: 100%;
}

.repo-languages {
    font-size: 10px;
    font-family: monospace;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.2); 

    display: flex;
    flex-flow: row nowrap;
    border-width: 0.3rem 0 0 0;
    border-color: #333;
    border-style: solid;

}
.repo-language {
    
    padding: 0.2rem 0.4rem;
    min-width: 64px;

}

.repo-links {
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    
    font-family: monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.repo-link {
    padding: 0 1.5rem 0 1.2rem;
    background-color: #0366d6;
    border-width: 0.3rem 0 0.3rem 0.3rem;
    border-style: solid;
    border-color: #333;
    
    color: #fff;
    text-decoration: none;
    
    
}

.repo-link:hover {
    background-color: #0056b3;

}
